<div class="container-fluid">
  <div class="row">
    <div class=" col-xs-12 col-xs-offset-3" >

    <h2>Change Password</h2>
      <%= @user.errors.full_messages.join(', ') %>
      <%= form_for @user do |f| %>

        <div>
          <%= f.label :password %>
          <%= f.password_field :password %>
        </div>

        <div>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %>
        </div>

        <div class="button">
          <%= f.submit 'Update' %>
        </div>
      <% end %>

    </div>
  </div>
</div>
