<nav class = "navbar">
  <div class="container-fluid">
 <!-- 1. left -->
    <div class="navbar-header">
      <!-- pic icon -->
      <a class = "navbar-left">
        <%=image_tag("giraffe_xx.jpg", id: "xxnavpic")%>
        <p id = "logoword"><%=link_to "IDEA FACTORY", root_path%></p>
      </a>
    </div>
<!-- 2. right -->
    <div class="nav navbar-nav navbar-right" id = "logpanel">
        <% if current_user %>
            <li><a href="#">Hello <em><%= current_user.first_name.upcase%></em></a></li>
            <li><%= link_to "SIGN OUT", signout_path, method: :delete%>
              </li>
       <% else %>
            <li><%= link_to "SIGN UP", new_user_path %></li>
            <li><%= link_to "SIGN IN", new_session_path %></li>
      <% end %>

<!-- 3. new idea button -->
    <div class="flex">
      <button >
        <%= link_to "NEW IDEA", new_idea_path%>
      </button>
    </div>

  </div>
  </div>
</nav>
