<nav class = "navbar navbar-default">
  <div class="container-fluid">
 <!-- 1. left -->
    <div class="navbar-header">
      <%=image_tag("giraffe_xx.jpg", id: "xxnavpic", class: "img-fluid")%>
      <p id = "logoword"><%=link_to "IDEA FACTORY", root_path%></p>
    </div>

      <!-- 2. right -->
          <ul class="nav navbar-nav pull-right" id = "logpanel">
            <% if current_user %>
                <li><a href="#">Hello <em><%= current_user.first_name.upcase%></em></a></li>
                <li><%= link_to "SIGN OUT", sessions_path, method: :delete%></li>
            <% else %>
                <li><%= link_to "SIGN UP", new_user_path %></li>
                <li><%= link_to "SIGN IN", new_session_path %></li>
            <% end %>

      <!-- 3. new idea button -->
          <div>
            <button>
              <%#=  %>
             <%#= render template: 'ideas/new' %>
              <%= link_to "NEW IDEA", new_idea_path%>
            </button>
          </div>
        </ul>
    </div>
</nav>
