<nav class = "navbar navbar-default">
  <div class="container-fluid">
 <!-- 1. left -->
    <div class="navbar-header">
      <%=image_tag("giraffe_xx.jpg", id: "xxnavpic", class: "img-fluid")%>
      <p id = "logoword"><%=link_to "IDEA FACTORY", root_path%></p>
    </div>

      <!-- 2. right -->
          <ul class="nav navbar-nav pull-right" id = "logpanel">
            <% if current_user %>
                <li><a href="#">Hello <em><%= current_user.first_name.upcase%></em></a></li>
                <li><%= link_to "SIGN OUT", sessions_path, method: :delete%></li>
            <% else %>
                <li><%= link_to "SIGN UP", new_user_path %></li>
                <li><%= link_to "SIGN IN", new_session_path %></li>
            <% end %>

      <!-- 3. new idea button -->
          <div>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
              NEW IDEA
            </button>
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLongTitle">New Idea</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                <% if user_signed_in? %>
                  <%=render "new" %>
                    <% else  %>
                    <h2>Sign in to create new ideas</h2>
                      <% end %>
                      </div>
                    </div>
                  </div>
                </div>






          </div>
        </ul>
    </div>
</nav>
