<div class="container-fluid">
  <div class="block" style="color:black">

    <div class="alert">
      <h4><%= notice||alert %></h4>
    </div>
    <% @ideas.each do |i| %>
      <div class= "ideapanel">
            <h2 class = "title"><%= i.title %></h2>
            <div class = "description"><%= link_to i.description, i %></div>
          <div class="btn-group">
              <%= link_to %>By <%= i.user.first_name.capitalize %>
          </div>


          <div class="btn-group" id = "firstbutton">
              <%= button_to idea_likes_path(i), class:"btn btn-default", style: "padding:2px; font-size: 15px" do %>
               Like
              <% end %>
          </div>

           <%#= unlike%>
           <% if i.likes.any? %>
             <div class="btn-group" id="secondbutton">
             <%= button_to like_path(i.likes.last), class:"btn btn-default", style: "padding:2px; font-size: 15px", method: :delete do %>
               unlike
             <% end %>
             </div>
           <% end %>

           <%#= count likes %>
           <div class="btn-group" style = "float: right">
             <span style="font-size:20px">Likes: <%= i.likes.count%></span>
           </div>
          </div>
        <% end %>

      </div>

  </div>
</div>
